<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
  <div class="nav-container">
    <a href="index.html" class="nav-logo">🎬 MovieApp</a>
    <div class="nav-right">
    <a href="index.html" class="nav-link">Home</a>
    <a href="favourites.html" class="nav-link">Favorites</a>
    <label class="switch">
      <input type="checkbox" id="themeToggle" />
      <span class="slider round"></span>
      </label>
      </div>
  </div>
</nav>
<h1 style="text-align: center;">Your favourite movies</h1>
<div id="favouritesContainer" class="movie-grid"></div>
<script src="js/favourites.js"></script>
</div>
</body>
</html>